@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

html {
	background-color: black;
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 400;
	
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 3rem;
	text-align: center;
}

.name {
	font-size: 3.76em;
	font-weight: 600;
	color: #338eef;
}

.subtitle {
	font-size: 1.6rem;
	margin: 1.6rem 0;
	font-weight: 100;
	color: #ffff00;
}

.btn{
	margin: .2em;
	display:inline-block;
	color: #6a6c6e;
	padding:.5rem .6rem;
	border:.08rem solid ;
	border-radius: .6rem;
	transition:.6s ease all;
	text-decoration:none;
}

.btn:hover {
	color: #ffff00;
	border-color: #ffff00;
}

