---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Calling Card | Matthew Drish</title>
		<link rel="icon" rel="favicon" href="https://raw.githubusercontent.com/MaDrCloudDev/Projects/master/img/MaDrLogo.svg" type="image/svg" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<main>
			<div class="name">Matthew Drish</div>
			<div class="subtitle">Full-stack Cloud Developer</div>
			<div id="button">
				<div id="button-content">
					<a target="_blank" href="https://MaDrCloudDev.github.io" class="btn">My Résumé</a>
					<a target="_blank" href="https://MaDr.blog" class="btn">My Projects</a>
				</div>
			</div>
			<br>
				<div class="icons">
					<a target="_blank" href="https://github.com/MaDrCloudDev"><img src="svg/github.svg"></a>
					<a target="_blank" href="https://MaDr.io"><img src="svg/madrlogo.svg"></a>
					<a target="_blank" href="https://www.linkedin.com/in/matthew-drish-920440241"><img src="svg/linkedin.svg"></a>
				</div>
		</main>
	</body>
</html>
